.DS_Store
.env*
.husky/_/
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/httpRequests/*
.idea/shelf/*
.idea/sonarlint/
.idea/sonarlint/*
.idea/workspace.xml
.next/
.swc/
**/.env*
**/*.log
**/*.map
**/*.pem
**/src/**/*.js
**/tests/**/*.js
coverage/
dist/
node_modules/
