**/*.log
**/*.map
**/*.pem
.DS_Store
.env*
.husky/_/
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/httpRequests/*
.idea/shelf/*
.idea/sonarlint/*
.idea/workspace.xml
coverage/
dist/
node_modules/
src/config/service-account.json
src/**/*.js
tests/**/*.js
